<% include partials/header %>
<div class="container center bg-dark white">
<h1 class="text-center"><%=campground.name%></h1>
<img class="card-img-top text-danger text-left mx-auto img-fluid img-thumbnail" src="<%=campground.image%>" width="50%"alt="Image failed to load">
    <h3 class="text-center bg-dark"> Campground Coords: <%= campground.lat %> <%=campground.long%></h3>
        <p> <%= campground.discrip%></p>
                <p>Campground Aminities</p>
                       <div>Public Restrooms: <%=campground.restroom%></div>
                <div>Running Water: <%=campground.water%></div>
                <div>Cell Service: <%=campground.cell%></div>
                <div>Rv Slots: <%=campground.rv%></div>
                <div>Fires: <%=campground.fire%></div>
              <h3 class="border text-center bg-dark">Comments</h3>
        <div class=" text-center">
        <%campground.comments.forEach(function(comment){%>
        <div class="bg-dark">
               <strong><%=comment.author%></strong>: <%=comment.text%>
            <% })%>
        <div class="row pushbottom">
        </div>
    </div>
</div>
<!--<div class=" text-center bg-dark">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <form method="post" action="#" >-->
<!--                <div class="col-12">-->
<!--                    <textarea class ="form-control" type="text" name="review" placeholder="your review"></textarea>-->
<!--                    <button class="btn btn-secondary btn-block">Add Review</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</div>
<% include partials/footershow %>

