<% include ../partials/header %>
<div class="container center">
    <div class="row bg-dark white">
        <div class="row col-lg-3 no-gutters">
            <div class=" justify-content-center">
               <h3 class="text-center">Comments</h3> 
               <div class="bordergreen2 padding-5 pushbottom">
             <ul>
            <%campground.comments.forEach(function(comment){%>
            <li><strong><%=comment.author%>:</strong>
                <ol>
                    <li><%=comment.text%></li>
                </ol>
                </li>
            <% })%>
            </ul>
            </div>
            <a class="btn btn-block btn-info" href="/campground/<%=campground.id%>/comments/new">Add a Review</a>
            </div>
        </div>
    
        <div class="col-lg-9">
            <div class="center bg-dark white">
    <h1 class="text-center"><%=campground.name%></h1>
    <img class="card-img-top text-danger text-left mx-auto img-fluid img-thumbnail" src="<%=campground.image%>" width="50%"alt="Image failed to load">
        <h3 class="text-center bg-dark"> Campground Coords: <%= campground.lat %> <%=campground.long%></h3>
            <p> <%= campground.discrip%></p>
            </div>
            <div class="row">
                <div class="col-6 col*">      
                    <p>Campground Aminities</p>
                        <ul>
                            <li>Fires            : <%=campground.fire%></li>
                            <li>Rv Slots         : <%=campground.rv%></li>
                            <li>Cell Service     : <%=campground.cell%></li>
                            <li>Running          : <%=campground.water%></li>
                            <li>Public Restrooms : <%=campground.restroom%></li>
                        </ul>
                </div>
                <div class="col-6 col*">
                    <p> We Recomned This Product</p>    
                    
                    
                </div>
            </div>       
            <div class="row pushbottom">
                &nbsp
            </div>
        </div>
    
        
    </div>
  </div>  
</div>
<!--<div class=" text-center bg-dark">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <form method="post" action="#" >-->
<!--                <div class="col-12">-->
<!--                    <textarea class ="form-control" type="text" name="review" placeholder="your review"></textarea>-->
<!--                    <button class="btn btn-secondary btn-block">Add Review</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<% include ../partials/footershow %>

