<% include ../partials/header %>
<div class="container center">
    <div class="row bg-dark white">
        <div class="row col-lg-3 no-gutters">
            <div class=" justify-content-center">
               <h3 class="text-center">Campground Aminities</h3> 
               <div class="bordergreen2 padding-5 pushbottom">
                    <ul>
                        <li>Fires            : <%=campground.fire%></li>
                        <li>Rv Slots         : <%=campground.rvParking%></li>
                        <li>Cell Service     : <%=campground.cell%></li>
                        <li>Running Water   : <%=campground.water%></li>
                        <li>Public Restrooms : <%=campground.restroom%></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="col-lg-9">
            <div class="center bg-dark white">
            <h1 class="text-center"><%=campground.name%></h1>
            <img class="card-img-top text-danger text-left mx-auto img-fluid img-thumbnail" src="<%=campground.image%>" width="50%"alt="Image failed to load">
            <h3 class="text-center bg-dark"> Campground Coords: <%= campground.lat %> <%=campground.long%></h3>
            <p> <%= campground.discrip%></p>
            </div>
            <div class="row">
                <div class="col-6 col*">      
                    <div class="row">
                        <div class="col-6 col*">
                            <h3 class="text-center">Comments</h3>
                        </div>
                        <div class="col-6 col*">
                            <a class="btn btn-block btn-info" href="/campground/<%=campground.id%>/comments/new">Add a Review</a>
                        </div>
                       
                    </div> 
                    <hr>
                        <%campground.comments.forEach(function(comment){%>
                            <div class ="well">
                                <div>
                                    <%=comment.author%>:
                                    <span class="float-right"><a href="#">Edit </a><a href="#"> Delete</a></span>
                                </div>
                                    <p><i><%=comment.text%></i></p>
                                    <span>Rating:</span>
                                    <hr>
                            </div>
                            <% })%>
                        </ul>
                </div>
                <div class="col-6 col*">
                    <p> We Recomned This Product</p>    
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=freecamp0a-20&marketplace=amazon&region=US&placement=B004E4AVY8&asins=B004E4AVY8&linkId=ed545971508a984bd3d2da98d30473a2&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
                    
                </div>
            </div>       
<div class="row pushbottom"> &nbsp</div>
        </div>
    
        
    </div>
  </div>  
</div>
<!--<div class=" text-center bg-dark">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <form method="post" action="#" >-->
<!--                <div class="col-12">-->
<!--                    <textarea class ="form-control" type="text" name="review" placeholder="your review"></textarea>-->
<!--                    <button class="btn btn-secondary btn-block">Add Review</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<% include ../partials/footer %>

